body {
  margin: 0;
  font-family: Helvetica;
  font-size: 1rem;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
  scroll-behavior: smooth;
  border-radius: 2.5px;
}

::-webkit-scrollbar {
  width:10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(255, 234, 234); 
  border-radius: 0px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background:rgb(54, 54, 54); 
  border-radius: 1px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(0, 0, 0); 
}

.main-head {
  font-size: 3rem;
  font-family: Helvetica;
  text-align: center;
  background: #f3f3f3;
  color: #1c1c1c;
  padding: 2rem;
  border-radius: 0;
}

.main-head > h1 {
  font-size: 5rem;
}

#log > div {
  color: #313131;
  border-top: 1px solid #dadada;
  padding: 9px;
  display: flex;
}
#log > div:first-child {
  border: 0;
}
.status {
  min-width: 250px;
}
#log {
  /* border: 1px solid #dadada; */
  padding: 10px;
  min-height: 200px;
}
.image-container img{
  /* border: 1px solid #dadada; */
  height: 100%;
  width: auto;
  /* box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px; */
}
progress {
  display: block;
  width: 100%;
  transition: opacity 0.5s linear;
}
progress[value="1"] {
  opacity: 0.5;
}
select {
  padding: 12px 5px;
  width: 209px;
  border: 1px solid #dadada;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
}

*, ::after, ::before {
  box-sizing: border-box;
  border-radius: 2.5px;
}

.inputfile {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile + label {
  /* max-width: 80%; */
  font-size: 1.2rem;
  /* font-weight: 700; */
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  padding: 0.5rem 1.25rem;
}

.no-js .inputfile + label {
  display: none;
}

.inputfile:focus + label,
.inputfile.has-focus + label {
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label * {
  /* pointer-events: none; */
  /* in case of FastClick lib use */
}

.inputfile + label svg {
  width: 1em;
  height: 1em;
  vertical-align: middle;
  fill: currentColor;
  margin-top: -0.25em;
  /* 4px */
  margin-right: 0.25em;
  /* 4px */
}

.search-insert {
  display: flex;
  justify-content: center;
  margin: 4rem;
  border-radius: 2.5px;
}

.lang-pref {
  padding: 0 1rem
}
.insert-btn {
  padding: 0 1rem
}

.img-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /* align-items: center; */
}


/* style 1 */

.inputfile-1 + label {
  color: #ffffff;
  background-color: #646464;
  border: 1px solid #b0b0b0;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 2.5px;
}

.inputfile-1:focus + label,
.inputfile-1.has-focus + label,
.inputfile-1 + label:hover {
  /* color: #252525; */
  background-color: rgb(35, 35, 35);
}

.arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

#arrow-right ,
#arrow-down {
  font-size: 3em;
}

#arrow-right {
  /* position: absolute;
  top: 60px; */
}
#arrow-down{
  width: 50px;
  margin: 10px auto;
}

#arrow-right.fa-arrow-right ,
#arrow-right.fa-spin ,
#arrow-down.fa-arrow-down ,
#arrow-down.fa-spin  {
  color: #252525;
}

.fa-check{
  color:green;
}

#log pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
 }

 #log {
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 10px;
  height: 100%;
  width: auto;
 }


 #startLink {
  color: #ffffff;
  background-color: #646464;
  border: 1px solid #b0b0b0;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 2.5px;
  padding: 1rem;
}
#startLink:hover {
  /* color: #252525; */
  background-color: rgb(35, 35, 35);
}

.translated {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 2rem;
  align-items: stretch;
}

.translated-text-interface {
  box-sizing: border-box;
  background: white;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  width: 100%;
  padding: 2rem;
  border: 1px solid #dadada;
}

.translated-text:empty:before {
  content:attr(data-placeholder);
  color:gray
}

.translated-options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background: #f3f3f3;
  align-content: center;
  padding: 3rem;
}

.translated-exec {
  display: flex;
}
.translated-exec-go {
  border: 1px solid #dadada;
  box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
  background: white;
  padding: 10px;
}

.audioBtn {
  color: #ffffff;
  background-color: #646464;
  border: 1px solid #b0b0b0;
  transition: color 0.3s, background-color 0.3s;
  border-radius: 2.5px;
  padding: 0.5rem 1rem;
  margin: 1rem 0;
}
.audioBtn:hover {
  /* color: #252525; */
  background-color: rgb(35, 35, 35);
}

#startPre {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3rem 0;
}

.footer {
  padding: 2rem;
  text-align: center;
  background: #a8a8a8;
  margin: 5rem 0 0;
  font-size: 1rem;
  font-family: 'Helvetica';
  color: #000000;
}

.my-git {
  text-decoration: none;
  color: #ffffff;
}

.fa-brands, .fab {
  font-weight: 400;
  padding: 0.1rem;
  color: #ffffff;
  margin: 0.7rem 0;
}

@media screen and (min-width: 992px) {
  #startPre{
    /* position: absolute; */
    top: 50px;
    /* padding: 20px; */
  }

}

@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
  .translated {
    flex-direction: column;
  }

  .footer {
    margin: 5rem 0 0;
  }
}